services:
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: stranger_web
    environment:
      API_BACKEND_URL: http://host.docker.internal:8080/api
    ports:
      - "8084:80"
    volumes:
      - ./frontend:/var/www/html
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres_stranger
    restart: always
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: stranger
    ports:
      - "5432:5432"
    volumes:
      - ./backend/sql/:/docker-entrypoint-initdb.d